<div class="main-div " fxLayout="{{this.isLeftPanelEnabled ? 'row': 'column'}}" fxLayout.xs="column" fxLayoutAlign="{{this.isLeftPanelEnabled ? 'start start':'center center'}}" fxLayoutGap="50px" *ngIf="this.resume">
    <mat-card class="sidebar" *ngIf="this.isLeftPanelEnabled">
        <div fxLayout="column" fxLayoutGap="20px">
            <button matTooltip="Views: {{this.resume.views}}" style="background: #f1c232;" mat-mini-fab *ngIf="this.resume && this.isPreview && this.resume.contact_details ">
          <mat-icon style="color: black">remove_red_eye</mat-icon>
        </button>
            <app-template-contact-detail [resume]="resume">
            </app-template-contact-detail>
        </div>
    </mat-card>

    <app-template-button [isLeftPanelEnabled]="isLeftPanelEnabled" *ngIf="!isLeftPanelEnabled" [resumeId]="resume._id"></app-template-button>
    <app-template-details [resume]="resume"></app-template-details>


</div>