<form [formGroup]="this.form" (ngSubmit)="this.form.valid && update()">
    <div fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="30px">
            <label class="setting-label">Name:</label>
            <mat-form-field class="settings-input">
                <input matInput formControlName="name" placeholder="Name" />
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="30px">
            <label class="setting-label">Email:</label>
            <mat-form-field class="settings-input">
                <input disabled [value]="this.user ? this.user.email : ''" matInput placeholder="Email" />
            </mat-form-field>
        </div>
        <div fxLayoutAlign="end center">
            <button mat-raised-button color="primary">
          Update Profile
        </button>
        </div>
    </div>
</form>