<form [formGroup]="this.form" (submit)="this.form.valid && addOrUpdate()">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <textarea formControlName="interest" matInput placeholder="Your interest or hobbies"></textarea>
            <mat-error>Interest is Required</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button style="    width: 10%;" fxFlexAlign="end" mat-raised-button color="primary">
          <span *ngIf="this.data.interest">Update</span>
          <span *ngIf="!this.data.interest">Add</span>
        </button>
            <button (click)="cancel()" type="button" style="    width: 10%;" fxFlexAlign="end" mat-raised-button color="warn">Cancel
        </button>
        </div>
    </div>
</form>