<mat-accordion fxLayout="column" fxLayoutAlign="center center">
    <h3 class="tabs-heading res-expansion-title">Enter your resume details</h3>
    <mat-expansion-panel>
        <mat-expansion-panel-header class="res-mat-expansion-panel-header">
            <mat-panel-title>
                Contact Details
            </mat-panel-title>
            <mat-panel-description>
                Enter your contact details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-contact-details [resumeId]="this.resume._id" [contactDetails]="this.resume.contact_details"></app-contact-details>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin-top: 1%;">
        <mat-expansion-panel-header class="res-mat-expansion-panel-header">
            <mat-panel-title>
                Education Details
            </mat-panel-title>
            <mat-panel-description>
                Enter your education details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-education [resumeId]="resume._id" [educations]="resume.education"></app-education>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin-top: 1%;">
        <mat-expansion-panel-header>
            <mat-panel-title>Employment History</mat-panel-title>
            <mat-panel-description>
                Enter Your Work Experience
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-employment-history [resumeId]="resume._id" [employmentHistories]="resume.employment_history"></app-employment-history>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin-top: 1%;">
        <mat-expansion-panel-header>
            <mat-panel-title>Hobbies & Interests</mat-panel-title>
            <mat-panel-description>
                Describe your hobbies and interest in detail
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-interest [resumeId]="resume._id" [interests]="resume.interests"></app-interest>
    </mat-expansion-panel>

</mat-accordion>